<?xml version="1.0" encoding="UTF-8" standalone="no"?><taxRule>
	<numOfLevel>5</numOfLevel>
	<threshold>
		<item>0</item>
		<item>500</item>
		<item>2000</item>
		<item>5000</item>
		<item>20000</item>
	</threshold>
	<taxRate>
		<item>0.05</item>
		<item>0.1</item>
		<item>0.15</item>
		<item>0.2</item>
		<item>0.25</item>
	<temp/></taxRate>
</taxRule>